.subscribe-button {
  background-color:#c71616;
  color:white;
  border:none;
  height:53px;
  width:100px;
  border-radius:2px;
  cursor:pointer;
  margin-right:10px;
  margin-left: 20px;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.6;
}

.subscribe-button:active {
  opacity: 0.8;
}

.join-button {
background-color:#f9f3f3;
color:rgb(42, 135, 222);
border-width:2px;
border-style: none;
border-color:rgb(23, 120, 205);
height: 53px;
width:80px;
border-radius:2px;
cursor:pointer;
margin-right:10px;
transition: background-color 1s,
color 1s;
vertical-align: top;
}

.join-button:hover {
  background-color: rgb(17, 93, 141);
  color:#f9f3f3;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
background-color:#1968dd;
color:rgb(246, 248, 250);
border-width:2px;
border-style:inset;
border-color:rgb(23, 120, 205);
height: 53px;
width:80px;
border-radius:23px;
font-weight:bold
cursor: pointer;
box-shadow: #1968dd;
vertical-align: top;
}