
.thumbnail {
  display: block;
  position: relative;
}


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-preview {
  width:300px;
  display:inline-block;
  vertical-align:top;
  margin-right:15px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 1 fr 1 fr 1 fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media(max-width: 750px) {
  .vide-info-grid {
    grid-template-columns: 1fr 1 fr;
  }
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align:top;
}
.video-info {
  display: inline-block;
  width: 200px;
}

.profile-picture {
  display: inline-block;
  width:50px;
  border-radius: 50px;

}

.video-1 { 
  display: inline-block;
}

.video-2 { 
  display: inline-block;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-author,
.video-stats {
font-size: 12px;
}

.video-author {
margin-bottom: 4px;
}

.video-time{
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500px;
  padding-left: 0%;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  
}